<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">
            <![CDATA[jdbc:mysql://localhost:3306/sys?useUnicode=true&characterEncoding=UTF-8&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC ]]></property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <mapping resource="com/lst/po/SysConfigEntity.hbm.xml"/>
        <mapping class="com.lst.po.SysConfigEntity"/>
        <mapping resource="com/lst/po/HostSummaryEntity.hbm.xml"/>
        <mapping class="com.lst.po.HostSummaryEntity"/>
        <mapping resource="com/lst/po/HostSummaryByFileIoEntity.hbm.xml"/>
        <mapping class="com.lst.po.HostSummaryByFileIoEntity"/>
        <mapping resource="com/lst/po/HostSummaryByFileIoTypeEntity.hbm.xml"/>
        <mapping class="com.lst.po.HostSummaryByFileIoTypeEntity"/>
        <mapping resource="com/lst/po/HostSummaryByStagesEntity.hbm.xml"/>
        <mapping class="com.lst.po.HostSummaryByStagesEntity"/>
        <mapping resource="com/lst/po/HostSummaryByStatementLatencyEntity.hbm.xml"/>
        <mapping class="com.lst.po.HostSummaryByStatementLatencyEntity"/>
        <mapping resource="com/lst/po/HostSummaryByStatementTypeEntity.hbm.xml"/>
        <mapping class="com.lst.po.HostSummaryByStatementTypeEntity"/>
        <mapping resource="com/lst/po/InnodbBufferStatsBySchemaEntity.hbm.xml"/>
        <mapping class="com.lst.po.InnodbBufferStatsBySchemaEntity"/>
        <mapping resource="com/lst/po/InnodbBufferStatsByTableEntity.hbm.xml"/>
        <mapping class="com.lst.po.InnodbBufferStatsByTableEntity"/>
        <mapping resource="com/lst/po/InnodbLockWaitsEntity.hbm.xml"/>
        <mapping class="com.lst.po.InnodbLockWaitsEntity"/>
        <mapping resource="com/lst/po/IoByThreadByLatencyEntity.hbm.xml"/>
        <mapping class="com.lst.po.IoByThreadByLatencyEntity"/>
        <mapping resource="com/lst/po/IoGlobalByFileByBytesEntity.hbm.xml"/>
        <mapping class="com.lst.po.IoGlobalByFileByBytesEntity"/>
        <mapping resource="com/lst/po/IoGlobalByFileByLatencyEntity.hbm.xml"/>
        <mapping class="com.lst.po.IoGlobalByFileByLatencyEntity"/>
        <mapping resource="com/lst/po/IoGlobalByWaitByBytesEntity.hbm.xml"/>
        <mapping class="com.lst.po.IoGlobalByWaitByBytesEntity"/>
        <mapping resource="com/lst/po/IoGlobalByWaitByLatencyEntity.hbm.xml"/>
        <mapping class="com.lst.po.IoGlobalByWaitByLatencyEntity"/>
        <mapping resource="com/lst/po/LatestFileIoEntity.hbm.xml"/>
        <mapping class="com.lst.po.LatestFileIoEntity"/>
        <mapping resource="com/lst/po/MemoryByHostByCurrentBytesEntity.hbm.xml"/>
        <mapping class="com.lst.po.MemoryByHostByCurrentBytesEntity"/>
        <mapping resource="com/lst/po/PsCheckLostInstrumentationEntity.hbm.xml"/>
        <mapping class="com.lst.po.PsCheckLostInstrumentationEntity"/>
        <mapping resource="com/lst/po/SchemaAutoIncrementColumnsEntity.hbm.xml"/>
        <mapping class="com.lst.po.SchemaAutoIncrementColumnsEntity"/>
        <mapping resource="com/lst/po/SchemaIndexStatisticsEntity.hbm.xml"/>
        <mapping class="com.lst.po.SchemaIndexStatisticsEntity"/>
        <mapping resource="com/lst/po/SchemaObjectOverviewEntity.hbm.xml"/>
        <mapping class="com.lst.po.SchemaObjectOverviewEntity"/>
        <mapping resource="com/lst/po/SchemaRedundantIndexesEntity.hbm.xml"/>
        <mapping class="com.lst.po.SchemaRedundantIndexesEntity"/>
        <mapping resource="com/lst/po/SchemaTableLockWaitsEntity.hbm.xml"/>
        <mapping class="com.lst.po.SchemaTableLockWaitsEntity"/>
        <mapping resource="com/lst/po/SchemaTableStatisticsEntity.hbm.xml"/>
        <mapping class="com.lst.po.SchemaTableStatisticsEntity"/>
        <mapping resource="com/lst/po/SchemaTableStatisticsWithBufferEntity.hbm.xml"/>
        <mapping class="com.lst.po.SchemaTableStatisticsWithBufferEntity"/>
        <mapping resource="com/lst/po/SchemaTablesWithFullTableScansEntity.hbm.xml"/>
        <mapping class="com.lst.po.SchemaTablesWithFullTableScansEntity"/>
        <mapping resource="com/lst/po/SchemaUnusedIndexesEntity.hbm.xml"/>
        <mapping class="com.lst.po.SchemaUnusedIndexesEntity"/>
        <mapping resource="com/lst/po/SessionEntity.hbm.xml"/>
        <mapping class="com.lst.po.SessionEntity"/>
        <mapping resource="com/lst/po/SessionSslStatusEntity.hbm.xml"/>
        <mapping class="com.lst.po.SessionSslStatusEntity"/>
        <mapping resource="com/lst/po/StatementAnalysisEntity.hbm.xml"/>
        <mapping class="com.lst.po.StatementAnalysisEntity"/>
        <mapping resource="com/lst/po/StatementsWithErrorsOrWarningsEntity.hbm.xml"/>
        <mapping class="com.lst.po.StatementsWithErrorsOrWarningsEntity"/>
        <mapping resource="com/lst/po/StatementsWithFullTableScansEntity.hbm.xml"/>
        <mapping class="com.lst.po.StatementsWithFullTableScansEntity"/>
        <mapping resource="com/lst/po/StatementsWithRuntimesIn95ThPercentileEntity.hbm.xml"/>
        <mapping class="com.lst.po.StatementsWithRuntimesIn95ThPercentileEntity"/>
        <mapping resource="com/lst/po/StatementsWithSortingEntity.hbm.xml"/>
        <mapping class="com.lst.po.StatementsWithSortingEntity"/>
        <mapping resource="com/lst/po/StatementsWithTempTablesEntity.hbm.xml"/>
        <mapping class="com.lst.po.StatementsWithTempTablesEntity"/>
        <mapping resource="com/lst/po/UserSummaryEntity.hbm.xml"/>
        <mapping class="com.lst.po.UserSummaryEntity"/>
        <mapping resource="com/lst/po/UserSummaryByFileIoEntity.hbm.xml"/>
        <mapping class="com.lst.po.UserSummaryByFileIoEntity"/>
        <mapping resource="com/lst/po/UserSummaryByFileIoTypeEntity.hbm.xml"/>
        <mapping class="com.lst.po.UserSummaryByFileIoTypeEntity"/>
        <mapping resource="com/lst/po/UserSummaryByStagesEntity.hbm.xml"/>
        <mapping class="com.lst.po.UserSummaryByStagesEntity"/>
        <mapping resource="com/lst/po/UserSummaryByStatementLatencyEntity.hbm.xml"/>
        <mapping class="com.lst.po.UserSummaryByStatementLatencyEntity"/>
        <mapping resource="com/lst/po/UserSummaryByStatementTypeEntity.hbm.xml"/>
        <mapping class="com.lst.po.UserSummaryByStatementTypeEntity"/>
        <mapping resource="com/lst/po/VersionEntity.hbm.xml"/>
        <mapping class="com.lst.po.VersionEntity"/>
        <mapping resource="com/lst/po/WaitClassesGlobalByAvgLatencyEntity.hbm.xml"/>
        <mapping class="com.lst.po.WaitClassesGlobalByAvgLatencyEntity"/>
        <mapping resource="com/lst/po/WaitClassesGlobalByLatencyEntity.hbm.xml"/>
        <mapping class="com.lst.po.WaitClassesGlobalByLatencyEntity"/>
        <mapping resource="com/lst/po/X$HostSummaryByStagesEntity.hbm.xml"/>
        <mapping class="com.lst.po.X$HostSummaryByStagesEntity"/>
        <mapping resource="com/lst/po/X$HostSummaryByStatementLatencyEntity.hbm.xml"/>
        <mapping class="com.lst.po.X$HostSummaryByStatementLatencyEntity"/>
        <mapping resource="com/lst/po/X$HostSummaryByStatementTypeEntity.hbm.xml"/>
        <mapping class="com.lst.po.X$HostSummaryByStatementTypeEntity"/>
        <mapping resource="com/lst/po/X$InnodbBufferStatsBySchemaEntity.hbm.xml"/>
        <mapping class="com.lst.po.X$InnodbBufferStatsBySchemaEntity"/>
        <mapping resource="com/lst/po/X$InnodbBufferStatsByTableEntity.hbm.xml"/>
        <mapping class="com.lst.po.X$InnodbBufferStatsByTableEntity"/>
        <mapping resource="com/lst/po/X$InnodbLockWaitsEntity.hbm.xml"/>
        <mapping class="com.lst.po.X$InnodbLockWaitsEntity"/>
        <mapping resource="com/lst/po/X$IoByThreadByLatencyEntity.hbm.xml"/>
        <mapping class="com.lst.po.X$IoByThreadByLatencyEntity"/>
        <mapping resource="com/lst/po/X$IoGlobalByFileByBytesEntity.hbm.xml"/>
        <mapping class="com.lst.po.X$IoGlobalByFileByBytesEntity"/>
        <mapping resource="com/lst/po/X$IoGlobalByFileByLatencyEntity.hbm.xml"/>
        <mapping class="com.lst.po.X$IoGlobalByFileByLatencyEntity"/>
        <mapping resource="com/lst/po/X$IoGlobalByWaitByBytesEntity.hbm.xml"/>
        <mapping class="com.lst.po.X$IoGlobalByWaitByBytesEntity"/>
        <mapping resource="com/lst/po/X$IoGlobalByWaitByLatencyEntity.hbm.xml"/>
        <mapping class="com.lst.po.X$IoGlobalByWaitByLatencyEntity"/>
        <mapping resource="com/lst/po/X$LatestFileIoEntity.hbm.xml"/>
        <mapping class="com.lst.po.X$LatestFileIoEntity"/>
        <mapping resource="com/lst/po/X$MemoryByHostByCurrentBytesEntity.hbm.xml"/>
        <mapping class="com.lst.po.X$MemoryByHostByCurrentBytesEntity"/>
        <mapping resource="com/lst/po/X$MemoryByThreadByCurrentBytesEntity.hbm.xml"/>
        <mapping class="com.lst.po.X$MemoryByThreadByCurrentBytesEntity"/>
        <mapping resource="com/lst/po/X$MemoryByUserByCurrentBytesEntity.hbm.xml"/>
        <mapping class="com.lst.po.X$MemoryByUserByCurrentBytesEntity"/>
        <mapping resource="com/lst/po/X$MemoryGlobalByCurrentBytesEntity.hbm.xml"/>
        <mapping class="com.lst.po.X$MemoryGlobalByCurrentBytesEntity"/>
        <mapping resource="com/lst/po/X$MemoryGlobalTotalEntity.hbm.xml"/>
        <mapping class="com.lst.po.X$MemoryGlobalTotalEntity"/>
        <mapping resource="com/lst/po/X$ProcesslistEntity.hbm.xml"/>
        <mapping class="com.lst.po.X$ProcesslistEntity"/>
        <mapping resource="com/lst/po/X$PsDigest95ThPercentileByAvgUsEntity.hbm.xml"/>
        <mapping class="com.lst.po.X$PsDigest95ThPercentileByAvgUsEntity"/>
        <mapping resource="com/lst/po/X$PsDigestAvgLatencyDistributionEntity.hbm.xml"/>
        <mapping class="com.lst.po.X$PsDigestAvgLatencyDistributionEntity"/>
        <mapping resource="com/lst/po/X$PsSchemaTableStatisticsIoEntity.hbm.xml"/>
        <mapping class="com.lst.po.X$PsSchemaTableStatisticsIoEntity"/>
        <mapping resource="com/lst/po/X$SchemaFlattenedKeysEntity.hbm.xml"/>
        <mapping class="com.lst.po.X$SchemaFlattenedKeysEntity"/>
        <mapping resource="com/lst/po/X$SchemaIndexStatisticsEntity.hbm.xml"/>
        <mapping class="com.lst.po.X$SchemaIndexStatisticsEntity"/>
        <mapping resource="com/lst/po/X$SchemaTableLockWaitsEntity.hbm.xml"/>
        <mapping class="com.lst.po.X$SchemaTableLockWaitsEntity"/>
        <mapping resource="com/lst/po/X$SchemaTableStatisticsEntity.hbm.xml"/>
        <mapping class="com.lst.po.X$SchemaTableStatisticsEntity"/>
        <mapping resource="com/lst/po/X$SchemaTableStatisticsWithBufferEntity.hbm.xml"/>
        <mapping class="com.lst.po.X$SchemaTableStatisticsWithBufferEntity"/>
        <mapping resource="com/lst/po/X$SchemaTablesWithFullTableScansEntity.hbm.xml"/>
        <mapping class="com.lst.po.X$SchemaTablesWithFullTableScansEntity"/>
        <mapping resource="com/lst/po/X$SessionEntity.hbm.xml"/>
        <mapping class="com.lst.po.X$SessionEntity"/>
        <mapping resource="com/lst/po/X$StatementAnalysisEntity.hbm.xml"/>
        <mapping class="com.lst.po.X$StatementAnalysisEntity"/>
        <mapping resource="com/lst/po/X$StatementsWithErrorsOrWarningsEntity.hbm.xml"/>
        <mapping class="com.lst.po.X$StatementsWithErrorsOrWarningsEntity"/>
        <mapping resource="com/lst/po/X$StatementsWithFullTableScansEntity.hbm.xml"/>
        <mapping class="com.lst.po.X$StatementsWithFullTableScansEntity"/>
        <mapping resource="com/lst/po/X$StatementsWithRuntimesIn95ThPercentileEntity.hbm.xml"/>
        <mapping class="com.lst.po.X$StatementsWithRuntimesIn95ThPercentileEntity"/>
        <mapping resource="com/lst/po/X$StatementsWithSortingEntity.hbm.xml"/>
        <mapping class="com.lst.po.X$StatementsWithSortingEntity"/>
        <mapping resource="com/lst/po/X$StatementsWithTempTablesEntity.hbm.xml"/>
        <mapping class="com.lst.po.X$StatementsWithTempTablesEntity"/>
        <mapping resource="com/lst/po/X$UserSummaryEntity.hbm.xml"/>
        <mapping class="com.lst.po.X$UserSummaryEntity"/>
        <mapping resource="com/lst/po/X$UserSummaryByFileIoEntity.hbm.xml"/>
        <mapping class="com.lst.po.X$UserSummaryByFileIoEntity"/>
        <mapping resource="com/lst/po/X$UserSummaryByFileIoTypeEntity.hbm.xml"/>
        <mapping class="com.lst.po.X$UserSummaryByFileIoTypeEntity"/>
        <mapping resource="com/lst/po/X$UserSummaryByStagesEntity.hbm.xml"/>
        <mapping class="com.lst.po.X$UserSummaryByStagesEntity"/>
        <mapping resource="com/lst/po/X$UserSummaryByStatementLatencyEntity.hbm.xml"/>
        <mapping class="com.lst.po.X$UserSummaryByStatementLatencyEntity"/>
        <mapping resource="com/lst/po/X$UserSummaryByStatementTypeEntity.hbm.xml"/>
        <mapping class="com.lst.po.X$UserSummaryByStatementTypeEntity"/>
        <mapping resource="com/lst/po/X$WaitClassesGlobalByAvgLatencyEntity.hbm.xml"/>
        <mapping class="com.lst.po.X$WaitClassesGlobalByAvgLatencyEntity"/>
        <mapping resource="com/lst/po/X$WaitClassesGlobalByLatencyEntity.hbm.xml"/>
        <mapping class="com.lst.po.X$WaitClassesGlobalByLatencyEntity"/>
        <mapping resource="com/lst/po/X$WaitsByHostByLatencyEntity.hbm.xml"/>
        <mapping class="com.lst.po.X$WaitsByHostByLatencyEntity"/>
        <mapping resource="com/lst/po/X$WaitsByUserByLatencyEntity.hbm.xml"/>
        <mapping class="com.lst.po.X$WaitsByUserByLatencyEntity"/>
        <mapping resource="com/lst/po/X$WaitsGlobalByLatencyEntity.hbm.xml"/>
        <mapping class="com.lst.po.X$WaitsGlobalByLatencyEntity"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>